# Domain excluding 'https://' and 'daily.co' e.g. 'somedomain'
NEXT_PUBLIC_DAILY_DOMAIN=

# Room name
NEXT_PUBLIC_DAILY_ROOM=

# Obtained from https://dashboard.daily.co/developers
DAILY_API_KEY=

NEXT_PUBLIC_BASE_URL=http://localhost:3000
